---
# See https://github.com/actions/virtual-environments

name: Test Code
permissions:
  contents: read
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Don't test on Windows since XML::Parser needs Expat
        os:
          - macos-latest
          - ubuntu-22.04
          - ubuntu-20.04
          # - windows-2022
          # - windows-2019
        perl: ['5.36', '5.34', '5.32', '5.30', '5.28', '5.22']
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - run: perl -V
      - name: Install Dependencies
        continue-on-error: true
        run: |
          cpanm -iqn ExtUtils::MakeMaker Test::Most
          cpanm -iqn --skip-satisfied Test::Portability::Files Test::Taint Test::Compile Test::Pod::Coverage
          # cpanm -iv Mojo::UserAgent Expat XML::Simple XML::Parser
          cpanm -iqn --skip-satisfied --installdeps --notest .
      - name: Make Module
        run: |
          # find . -name build.log | xargs cat
          perl Makefile.PL
          make
      - name: Run Tests
        run: |
          prove -l -b t
        env:
          AUTHOR_TESTING: 1
